earthengine-api==1.4.3
Flask==3.1.0
Flask-Cors==5.0.0
google-api-core==2.24.0
google-api-python-client==2.155.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.19.0

